[submodule "wiktionary/config"]
	path = wiktionary/config
	url = https://github.com/dbpedia/dbpedia-wiktionary-configuration.git
[submodule "mappings-tracker"]
	path = mappings-tracker
	url = https://github.com/dbpedia/mappings-tracker
