<?xml version="1.0"?>
<configuration>
  <baseURL>http://downloads.dbpedia.org/3.5.1</baseURL>
  <baseDirectory>D:\DBpediaData</baseDirectory>
  <datasetLabel>DBpedia 3.5.1</datasetLabel>
  <changefreq>monthly</changefreq>
  <linkedDataPrefix slicing="scbd">http://dbpedia.org/resource/</linkedDataPrefix>
  <sparqlEndpointLocation>http://dbpedia.org/sparql</sparqlEndpointLocation>
  <lastmod>2010-04-01</lastmod>
  <datasetURI>http://downloads.dbpedia.org</datasetURI>
  <siteMapFileName>C:\sitemap.xml</siteMapFileName>
    <includeLoadedDatasetsOnly include="true">
      <dataset>article_categories_en.nt</dataset>
      <dataset>bookmashup_links.nt</dataset>
      <dataset>category_labels_en.nt</dataset>
      <dataset>dailymed_links.nt</dataset>
      <dataset>dblp_links.nt</dataset>
      <dataset>dbpedia_3.5.1.owl</dataset>
      <dataset>disambiguations_en.nt</dataset>
      <dataset>diseasome_links.nt</dataset>
      <dataset>drugbank_links.nt</dataset>
      <dataset>eurostat_links.nt</dataset>
      <dataset>external_links_en.nt</dataset>
      <dataset>factbook_links.nt</dataset>
      <dataset>flickr_links.nt</dataset>
      <dataset>freebase_links.ttl</dataset>
      <dataset>geonames_links.nt</dataset>
      <dataset>geo_coordinates_en.nt</dataset>
      <dataset>gutenberg_links.nt</dataset>
      <dataset>homepages_en.nt</dataset>
      <dataset>images_en.nt</dataset>
      <dataset>infobox_properties_en.nt</dataset>
      <dataset>infobox_property_definitions_en.nt</dataset>
      <dataset>instance_types_en.nt</dataset>
      <dataset>labels_de.nt</dataset>
      <dataset>labels_en.nt</dataset>
      <dataset>labels_es.nt</dataset>
      <dataset>labels_fi.nt</dataset>
      <dataset>labels_fr.nt</dataset>
      <dataset>labels_it.nt</dataset>
      <dataset>labels_ja.nt</dataset>
      <dataset>labels_nl.nt</dataset>
      <dataset>labels_no.nt</dataset>
      <dataset>labels_pl.nt</dataset>
      <dataset>labels_pt.nt</dataset>
      <dataset>labels_ru.nt</dataset>
      <dataset>labels_sv.nt</dataset>
      <dataset>labels_zh.nt</dataset>
      <dataset>long_abstracts_de.nt</dataset>
      <dataset>long_abstracts_en.nt</dataset>
      <dataset>long_abstracts_es.nt</dataset>
      <dataset>long_abstracts_fi.nt</dataset>
      <dataset>long_abstracts_fr.nt</dataset>
      <dataset>long_abstracts_it.nt</dataset>
      <dataset>long_abstracts_ja.nt</dataset>
      <dataset>long_abstracts_nl.nt</dataset>
      <dataset>long_abstracts_no.nt</dataset>
      <dataset>long_abstracts_pl.nt</dataset>
      <dataset>long_abstracts_pt.nt</dataset>
      <dataset>long_abstracts_ru.nt</dataset>
      <dataset>long_abstracts_sv.nt</dataset>
      <dataset>long_abstracts_zh.nt</dataset>
      <dataset>mappingbased_properties_en.nt</dataset>
      <dataset>musicbrainz_links.nt</dataset>
      <dataset>nyt_links.nt</dataset>
      <dataset>opencyc_links.nt</dataset>
      <dataset>page_ids_en.nt</dataset>
      <dataset>persondata_en.nt</dataset>
      <dataset>pnd_de.nt</dataset>
      <dataset>pnd_en.nt</dataset>
      <dataset>redirects_en.nt</dataset>
      <dataset>revisions_en.nt</dataset>
      <dataset>revyu_links.nt</dataset>
      <dataset>short_abstracts_de.nt</dataset>
      <dataset>short_abstracts_en.nt</dataset>
      <dataset>short_abstracts_es.nt</dataset>
      <dataset>short_abstracts_fi.nt</dataset>
      <dataset>short_abstracts_fr.nt</dataset>
      <dataset>short_abstracts_it.nt</dataset>
      <dataset>short_abstracts_ja.nt</dataset>
      <dataset>short_abstracts_nl.nt</dataset>
      <dataset>short_abstracts_no.nt</dataset>
      <dataset>short_abstracts_pl.nt</dataset>
      <dataset>short_abstracts_pt.nt</dataset>
      <dataset>short_abstracts_ru.nt</dataset>
      <dataset>short_abstracts_sv.nt</dataset>
      <dataset>short_abstracts_zh.nt</dataset>
      <dataset>sider_links.nt</dataset>
      <dataset>skos_categories_en.nt</dataset>
      <dataset>specific_mappingbased_properties_en.nt</dataset>
      <dataset>tcm_links.nt</dataset>
      <dataset>uscensus_links.nt</dataset>
      <dataset>wikicompany_links.nt</dataset>
      <dataset>wikipedia_links_en.nt</dataset>
      <dataset>wordnet_links.nt</dataset>
      <dataset>yagoclasses_links.nt</dataset>
      <dataset>yago_links.nt</dataset>
    </includeLoadedDatasetsOnly>
</configuration>