<?xml version="1.0"?>
<configuration>
  <baseURL>http://downloads.dbpedia.org/3.7</baseURL>
  <baseDirectory>/home/mohamed/LeipzigUniversity/DBpediaData</baseDirectory>
  <datasetLabel>DBpedia 3.7</datasetLabel>
  <changefreq>monthly</changefreq>
  <linkedDataPrefix slicing="scbd">http://dbpedia.org/resource/</linkedDataPrefix>
  <sparqlEndpointLocation>http://dbpedia.org/sparql</sparqlEndpointLocation>
  <lastmod>2011-08-01</lastmod>
  <datasetURI>http://downloads.dbpedia.org</datasetURI>
  <siteMapFileName>/home/mohamed/LeipzigUniversity/sitemap.xml</siteMapFileName>
    <includeLoadedDatasetsOnly include="true">
      <dataset>instance_types_en.nt</dataset>
      <dataset>instance_types_ca.nt</dataset>
      <dataset>instance_types_de.nt</dataset>
      <dataset>instance_types_el.nt</dataset>
      <dataset>instance_types_es.nt</dataset>
      <dataset>instance_types_fr.nt</dataset>
      <dataset>instance_types_ga.nt</dataset>
      <dataset>instance_types_hr.nt</dataset>
      <dataset>instance_types_hu.nt</dataset>
      <dataset>instance_types_it.nt</dataset>
      <dataset>instance_types_nl.nt</dataset>
      <dataset>instance_types_pl.nt</dataset>
      <dataset>instance_types_pt.nt</dataset>
      <dataset>instance_types_ru.nt</dataset>
      <dataset>instance_types_sl.nt</dataset>
      <dataset>instance_types_tr.nt</dataset>
      <dataset>mappingbased_properties_en.nt</dataset>
      <dataset>mappingbased_properties_ca.nt</dataset>
      <dataset>mappingbased_properties_de.nt</dataset>
      <dataset>mappingbased_properties_el.nt</dataset>
      <dataset>mappingbased_properties_es.nt</dataset>
      <dataset>mappingbased_properties_fr.nt</dataset>
      <dataset>mappingbased_properties_ga.nt</dataset>
      <dataset>mappingbased_properties_hr.nt</dataset>
      <dataset>mappingbased_properties_hu.nt</dataset>
      <dataset>mappingbased_properties_it.nt</dataset>
      <dataset>mappingbased_properties_nl.nt</dataset>
      <dataset>mappingbased_properties_pl.nt</dataset>
      <dataset>mappingbased_properties_pt.nt</dataset>
      <dataset>mappingbased_properties_ru.nt</dataset>
      <dataset>mappingbased_properties_sl.nt</dataset>
      <dataset>mappingbased_properties_tr.nt</dataset>
      <dataset>specific_mappingbased_properties_en.nt</dataset>
      <dataset>specific_mappingbased_properties_ca.nt</dataset>
      <dataset>specific_mappingbased_properties_de.nt</dataset>
      <dataset>specific_mappingbased_properties_el.nt</dataset>
      <dataset>specific_mappingbased_properties_es.nt</dataset>
      <dataset>specific_mappingbased_properties_fr.nt</dataset>
      <dataset>specific_mappingbased_properties_ga.nt</dataset>
      <dataset>specific_mappingbased_properties_hr.nt</dataset>
      <dataset>specific_mappingbased_properties_hu.nt</dataset>
      <dataset>specific_mappingbased_properties_it.nt</dataset>
      <dataset>specific_mappingbased_properties_pl.nt</dataset>
      <dataset>specific_mappingbased_properties_pt.nt</dataset>
      <dataset>specific_mappingbased_properties_sl.nt</dataset>
      <dataset>specific_mappingbased_properties_tr.nt</dataset>
      <dataset>labels_en.nt</dataset>
      <dataset>labels_ca.nt</dataset>
      <dataset>labels_de.nt</dataset>
      <dataset>labels_el.nt</dataset>
      <dataset>labels_es.nt</dataset>
      <dataset>labels_fr.nt</dataset>
      <dataset>labels_ga.nt</dataset>
      <dataset>labels_hr.nt</dataset>
      <dataset>labels_hu.nt</dataset>
      <dataset>labels_it.nt</dataset>
      <dataset>labels_nl.nt</dataset>
      <dataset>labels_pl.nt</dataset>
      <dataset>labels_pt.nt</dataset>
      <dataset>labels_ru.nt</dataset>
      <dataset>labels_sl.nt</dataset>
      <dataset>labels_tr.nt</dataset>
      <dataset>short_abstracts_en.nt</dataset>
      <dataset>short_abstracts_ca.nt</dataset>
      <dataset>short_abstracts_de.nt</dataset>
      <dataset>short_abstracts_el.nt</dataset>
      <dataset>short_abstracts_es.nt</dataset>
      <dataset>short_abstracts_fr.nt</dataset>
      <dataset>short_abstracts_ga.nt</dataset>
      <dataset>short_abstracts_hr.nt</dataset>
      <dataset>short_abstracts_hu.nt</dataset>
      <dataset>short_abstracts_it.nt</dataset>
      <dataset>short_abstracts_nl.nt</dataset>
      <dataset>short_abstracts_pl.nt</dataset>
      <dataset>short_abstracts_pt.nt</dataset>
      <dataset>short_abstracts_ru.nt</dataset>
      <dataset>short_abstracts_sl.nt</dataset>
      <dataset>short_abstracts_tr.nt</dataset>
      <dataset>long_abstracts_en.nt</dataset>
      <dataset>long_abstracts_ca.nt</dataset>
      <dataset>long_abstracts_de.nt</dataset>
      <dataset>long_abstracts_el.nt</dataset>
      <dataset>long_abstracts_es.nt</dataset>
      <dataset>long_abstracts_fr.nt</dataset>
      <dataset>long_abstracts_ga.nt</dataset>
      <dataset>long_abstracts_hr.nt</dataset>
      <dataset>long_abstracts_hu.nt</dataset>
      <dataset>long_abstracts_it.nt</dataset>
      <dataset>long_abstracts_nl.nt</dataset>
      <dataset>long_abstracts_pl.nt</dataset>
      <dataset>long_abstracts_pt.nt</dataset>
      <dataset>long_abstracts_ru.nt</dataset>
      <dataset>long_abstracts_sl.nt</dataset>
      <dataset>long_abstracts_tr.nt</dataset>
      <dataset>images_en.nt</dataset>
      <dataset>images_de.nt</dataset>
      <dataset>images_el.nt</dataset>
      <dataset>images_es.nt</dataset>
      <dataset>images_pt.nt</dataset>
      <dataset>images_ru.nt</dataset>
      <dataset>geo_coordinates_en.nt</dataset>
      <dataset>geo_coordinates_ca.nt</dataset>
      <dataset>geo_coordinates_de.nt</dataset>
      <dataset>geo_coordinates_el.nt</dataset>
      <dataset>geo_coordinates_es.nt</dataset>
      <dataset>geo_coordinates_fr.nt</dataset>
      <dataset>geo_coordinates_ga.nt</dataset>
      <dataset>geo_coordinates_hr.nt</dataset>
      <dataset>geo_coordinates_hu.nt</dataset>
      <dataset>geo_coordinates_it.nt</dataset>
      <dataset>geo_coordinates_nl.nt</dataset>
      <dataset>geo_coordinates_pl.nt</dataset>
      <dataset>geo_coordinates_pt.nt</dataset>
      <dataset>geo_coordinates_ru.nt</dataset>
      <dataset>geo_coordinates_tr.nt</dataset>
      <dataset>infobox_properties_en.nt</dataset>
      <dataset>infobox_properties_ca.nt</dataset>
      <dataset>infobox_properties_de.nt</dataset>
      <dataset>infobox_properties_el.nt</dataset>
      <dataset>infobox_properties_es.nt</dataset>
      <dataset>infobox_properties_fr.nt</dataset>
      <dataset>infobox_properties_ga.nt</dataset>
      <dataset>infobox_properties_hr.nt</dataset>
      <dataset>infobox_properties_hu.nt</dataset>
      <dataset>infobox_properties_it.nt</dataset>
      <dataset>infobox_properties_nl.nt</dataset>
      <dataset>infobox_properties_pl.nt</dataset>
      <dataset>infobox_properties_pt.nt</dataset>
      <dataset>infobox_properties_ru.nt</dataset>
      <dataset>infobox_properties_sl.nt</dataset>
      <dataset>infobox_properties_tr.nt</dataset>
      <dataset>infobox_property_definitions_en.nt</dataset>
      <dataset>infobox_property_definitions_ca.nt</dataset>
      <dataset>infobox_property_definitions_de.nt</dataset>
      <dataset>infobox_property_definitions_el.nt</dataset>
      <dataset>infobox_property_definitions_es.nt</dataset>
      <dataset>infobox_property_definitions_fr.nt</dataset>
      <dataset>infobox_property_definitions_ga.nt</dataset>
      <dataset>infobox_property_definitions_hr.nt</dataset>
      <dataset>infobox_property_definitions_hu.nt</dataset>
      <dataset>infobox_property_definitions_it.nt</dataset>
      <dataset>infobox_property_definitions_nl.nt</dataset>
      <dataset>infobox_property_definitions_pl.nt</dataset>
      <dataset>infobox_property_definitions_pt.nt</dataset>
      <dataset>infobox_property_definitions_ru.nt</dataset>
      <dataset>infobox_property_definitions_sl.nt</dataset>
      <dataset>infobox_property_definitions_tr.nt</dataset>
      <dataset>homepages_en.nt</dataset>
      <dataset>homepages_ca.nt</dataset>
      <dataset>homepages_de.nt</dataset>
      <dataset>homepages_el.nt</dataset>
      <dataset>homepages_es.nt</dataset>
      <dataset>homepages_fr.nt</dataset>
      <dataset>homepages_ga.nt</dataset>
      <dataset>homepages_pl.nt</dataset>
      <dataset>homepages_pt.nt</dataset>
      <dataset>homepages_ru.nt</dataset>
      <dataset>persondata_en.nt</dataset>
      <dataset>persondata_de.nt</dataset>
      <dataset>pnd_en.nt</dataset>
      <dataset>pnd_de.nt</dataset>
      <dataset>article_categories_en.nt</dataset>
      <dataset>category_labels_en.nt</dataset>
      <dataset>skos_categories_en.nt</dataset>
      <dataset>external_links_en.nt</dataset>
      <dataset>wikipedia_links_en.nt</dataset>
      <dataset>wikipedia_links_ca.nt</dataset>
      <dataset>wikipedia_links_de.nt</dataset>
      <dataset>wikipedia_links_el.nt</dataset>
      <dataset>wikipedia_links_es.nt</dataset>
      <dataset>wikipedia_links_fr.nt</dataset>
      <dataset>wikipedia_links_ga.nt</dataset>
      <dataset>wikipedia_links_hr.nt</dataset>
      <dataset>wikipedia_links_hu.nt</dataset>
      <dataset>wikipedia_links_it.nt</dataset>
      <dataset>wikipedia_links_nl.nt</dataset>
      <dataset>wikipedia_links_pl.nt</dataset>
      <dataset>wikipedia_links_pt.nt</dataset>
      <dataset>wikipedia_links_ru.nt</dataset>
      <dataset>wikipedia_links_sl.nt</dataset>
      <dataset>wikipedia_links_tr.nt</dataset>
      <dataset>page_link_en.nt</dataset>
      <dataset>page_link_ca.nt</dataset>
      <dataset>page_link_de.nt</dataset>
      <dataset>page_link_el.nt</dataset>
      <dataset>page_link_es.nt</dataset>
      <dataset>page_link_fr.nt</dataset>
      <dataset>page_link_ga.nt</dataset>
      <dataset>page_link_hr.nt</dataset>
      <dataset>page_link_hu.nt</dataset>
      <dataset>page_link_it.nt</dataset>
      <dataset>page_link_nl.nt</dataset>
      <dataset>page_link_pl.nt</dataset>
      <dataset>page_link_pt.nt</dataset>
      <dataset>page_link_ru.nt</dataset>
      <dataset>page_link_sl.nt</dataset>
      <dataset>page_link_tr.nt</dataset>
      <dataset>redirects_en.nt</dataset>
      <dataset>page_ids_en.nt</dataset>
      <dataset>revisions_en.nt</dataset>
      <dataset>disambiguations_en.nt</dataset>
      <dataset>disambiguations_ca.nt</dataset>
      <dataset>disambiguations_de.nt</dataset>
      <dataset>disambiguations_el.nt</dataset>
      <dataset>disambiguations_es.nt</dataset>
      <dataset>disambiguations_it.nt</dataset>
      <dataset>disambiguations_pl.nt</dataset>
      <dataset>disambiguations_pt.nt</dataset>
      <dataset>disambiguations_ru.nt</dataset>
      <dataset>bookmashup_links.nt</dataset>
      <dataset>dailymed_links.nt</dataset>
      <dataset>dblp_links.nt</dataset>
      <dataset>dbpedia_3.7.owl</dataset>
      <dataset>diseasome_links.nt</dataset>
      <dataset>drugbank_links.nt</dataset>
      <dataset>eurostat_links.nt</dataset>
      <dataset>factbook_links.nt</dataset>
      <dataset>flickrwrapper_links.nt</dataset>
      <dataset>freebase_links.nt</dataset>
      <dataset>geonames_links.nt</dataset>
      <dataset>geospecis_links.nt</dataset>
      <dataset>gutenberg_links.nt</dataset>
      <dataset>linkedmdb_links.nt</dataset>
      <dataset>musicbrainz_links.nt</dataset>
      <dataset>nytimes_links.nt</dataset>
      <dataset>opencyc_links.nt</dataset>
      <dataset>revyu_links.nt</dataset>
      <dataset>sider_links.nt</dataset>
      <dataset>tcm_links.nt</dataset>
      <dataset>umbel_links.nt</dataset>
      <dataset>uscensus_links.nt</dataset>
      <dataset>wikicompany_links.nt</dataset>
      <dataset>wordnet_links.nt</dataset>
      <dataset>yago_links.nt</dataset>
    </includeLoadedDatasetsOnly>
</configuration>