<?xml version="1.0"?>
<configuration>
  <voiDFileName>C:\DBpedia.ttl</voiDFileName>
  <namespaces>
      <namespace prefix = "rdf">http://www.w3.org/1999/02/22-rdf-syntax-ns#</namespace>
      <!--<namespace prefix = "rdfs">http://www.w3.org/2000/01/rdf-schema#</namespace>-->
      <!--<namespace prefix = "owl">http://www.w3.org/2002/07/owl#</namespace>-->
      <namespace prefix = "xsd">http://www.w3.org/2001/XMLSchema#</namespace>
      <namespace prefix = "sd">http://www.semanticdesktop.org/ontologies/nfo/#</namespace>
      <!--<namespace prefix = "foaf">http://xmlns.com/foaf/0.1/</namespace>-->
      <namespace prefix = "dcterms">http://purl.org/dc/terms/</namespace>
      <!--<namespace prefix = "scovo">http://purl.org/NET/scovo#</namespace>-->
      <namespace prefix = "void">http://rdfs.org/ns/void#</namespace>
      <!--<namespace prefix = "ex">http://example.com/void/datasets/</namespace>-->
      <namespace prefix = "">http://dbpedia.org/void.ttl#</namespace>
      <namespace prefix = "foaf">http://xmlns.com/foaf/0.1/</namespace>
      <namespace prefix = "owl">http://www.w3.org/2002/07/owl#</namespace>
      <!--<namespace prefix = "xml">http://www.w3.org/1999/xhtml/</namespace>-->
      <!--<namespace prefix = "ov">http://open.vocab.org/terms/</namespace>-->
  </namespaces>
    <coreDatasetsDescriptionFileName>
        D:\Leipzig University\DBpediaDataDescription\filespecsCORE.out.php
    </coreDatasetsDescriptionFileName>

    <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>

    <extendedDatasetsDescriptionFileName>
        D:\Leipzig University\DBpediaDataDescription\filespecsLINKS.out.php
    </extendedDatasetsDescriptionFileName>

    <downloadPageCreatorFileName>
       D:\Leipzig University\DBpedia\related_apps\downloadpagecreator\downloadpagecreator.php
    </downloadPageCreatorFileName>

    <!-- This is the base URI for all datasets-->
    <uriBase>
        http://dbpedia.org/void.ttl#
    </uriBase>

    <titleLanguage>en</titleLanguage>
    <!-- This is the base URI for dump files' locations-->
    <uriDumpBase>http://downloads.dbpedia.org/3.5.1/</uriDumpBase>

    <linkDatasetsBaseURI>http://dbpedia.org/linkdatasets/</linkDatasetsBaseURI>
    <!-- This is the name of the array variable representing core datasets in downloadpagecreator.php file-->
    <coreDatasetsArrayName>filesANDtitlesCORE</coreDatasetsArrayName>

    <!-- This is the name of the array variable representing extended datasets in downloadpagecreator.php file-->
    <extendedDatasetsArrayName>filesANDtitlesLINKS</extendedDatasetsArrayName>

    <mainDataset>
        <name>
            DBpedia
        </name>
        <title>
            DBpedia
        </title>
        <description>
            DBpedia is a community effort to extract structured information from Wikipedia and to make this information available on the Web.    
        </description>
        <homepage>http://dbpedia.org/</homepage>
        <modified>2010-04-28</modified>
        <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
        <uriRegexPattern>http://dbpedia.org/resource/</uriRegexPattern>            
        <sources>
            <source>
                http://dbpedia.org/resource/Wikipedia
            </source>
        </sources>
        <contributors>
            <contributor>
                http://dbpedia.org/resource/University_of_Leipzig
            </contributor>
            <contributor>
                http://dbpedia.org/resource/Free_University_of_Berlin
            </contributor>
            <contributor>
                http://dbpedia.org/resource/OpenLink_Software
            </contributor>
        </contributors>
        <exampleResources>
            <exampleResource>
                http://dbpedia.org/resource/Berlin
            </exampleResource>
            <exampleResource>
                 http://dbpedia.org/resource/Physics
            </exampleResource>
            <exampleResource>
                http://dbpedia.org/resource/Ludwig_van_Beethoven
            </exampleResource>
        </exampleResources>

    </mainDataset>

    
    <mainDatasetName>http://dbpedia.org/void.ttl#DBpedia</mainDatasetName>

   <!-- This part is added for DBpedia Ontology in specific because it is not included either filesANDtitlesCORE
   OR filesANDtitlesLINKS, so that it requires special handling-->
    <datasets>
        <dataset type="core">
            <name>DBpediaOntology</name>
            <title>
              DBpedia Ontology  
            </title>
            <description>
              The DBpedia ontology in OWL. See our JWS paper for more details.  
            </description>
            <dataDump>
              http://downloads.dbpedia.org/3.5.1/dbpedia_3.5.1.owl
            </dataDump>
            <dumpFileName>
                dbpedia_3.5.owl.bz2
            </dumpFileName>
        </dataset>

    </datasets>

   <!-- For the links datasets, we use partnerDataset, because their main objective is to link DBpedia dataset to other
   dataset--> 
    <loadedDatasets>
      <dataset type="core">
          <name>article_categories_en.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>
      <dataset type="links">
          <name>bookmashup_links.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#RDFBookMashup</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>
        <dataset type="core">
            <name>category_labels_en.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
        </dataset>

        <dataset type="links">
            <name>dailymed_links.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
            <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
            <objectDataset>http://dbpedia.org/void.ttl#DailyMid</objectDataset>
            <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
        </dataset>

        <dataset type="links">
            <name>dblp_links.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
            <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
            <objectDataset>http://dbpedia.org/void.ttl#DBLP</objectDataset>
            <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
        </dataset>

        <dataset type="core">
            <name>dbpedia_3.5.1.owl</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
        </dataset>

        <dataset type="core">
            <name>disambiguations_en.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
        </dataset>

        <dataset type="links">
            <name>diseasome_links.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
            <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
            <objectDataset>http://dbpedia.org/void.ttl#Diseasome</objectDataset>
            <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
        </dataset>

        <dataset type="links">
            <name>drugbank_links.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
            <subjectDataset>http://dbpedia.org/void.ttl#DrugBank</subjectDataset>
            <objectDataset>http://dbpedia.org/void.ttl#DBpedia</objectDataset>
            <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
        </dataset>

        <dataset type="links">
            <name>eurostat_links.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
            <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
            <objectDataset>http://dbpedia.org/void.ttl#Eurostat</objectDataset>
            <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
        </dataset>

        <dataset type="core">
            <name>external_links_en.nt</name>
            <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
        </dataset>

      <dataset type="links">
          <name>factbook_links.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#CIAFactbook</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="links">
          <name> flickr_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#FlikrWrappr</objectDataset>
          <linkPredicate>http://dbpedia.org/property/hasPhotoCollection</linkPredicate>
      </dataset>
                
      <dataset type="links">
          <name>freebase_links.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Freebase</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="links">
          <name> geonames_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Geonames</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>  

      <dataset type="links">
          <name> geonames_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Geonames</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="core">
          <name> geo_coordinates_en.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>

      <dataset type="links">
          <name> gutenberg_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Gutenberg</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="core">
          <name> homepages_en.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>

      <dataset type="core">
          <name> images_en.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>

      <dataset type="core">
          <name> infobox_properties_en.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>

      <dataset type="core"><name> infobox_property_definitions_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>

      <dataset type="core"><name> instance_types_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>instance_types_en.nt</dataset>
      <dataset type="core"><name> labels_de.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_es.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_fi.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_fr.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_it.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_ja.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_nl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_no.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_pl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_pt.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_ru.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_sv.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> labels_zh.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_de.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_es.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_fi.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_fr.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_it.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_ja.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_nl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_no.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_pl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_pt.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_ru.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_sv.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> long_abstracts_zh.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> mappingbased_properties_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>

      <dataset type="links">
          <name> musicbrainz_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#MusicBrainz</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="links">
          <name> nyt_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#NewYorkTimes</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="links">
          <name> opencyc_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Cyc</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="core"><name> page_ids_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> persondata_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> pnd_de.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> pnd_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> redirects_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> revisions_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>

      <dataset type="links">
          <name> revyu_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Revyu</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>
        
      <dataset type="core"><name> short_abstracts_de.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_es.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_fi.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_fr.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_it.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_ja.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_nl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_no.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_pl.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_pt.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_ru.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_sv.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> short_abstracts_zh.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>

      <dataset type="links">
          <name>sider_links.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#Sider</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>
        
      <dataset type="core"><name> skos_categories_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>
      <dataset type="core"><name> specific_mappingbased_properties_en.nt </name><sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint> </dataset>

      <dataset type="links">
          <name> tcm_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#TCMGeneDIT</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>
        
      <dataset type="links">
          <name> uscensus_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#USCensus</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="links">
          <name>wikicompany_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#WikiCompany</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#DBpedia</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>

      <dataset type="core">
          <name> wikipedia_links_en.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
      </dataset>

      <dataset type="links">
          <name> wordnet_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#WordNet</objectDataset>
          <linkPredicate>http://dbpedia.org/property/wordnet_type</linkPredicate>
      </dataset>

      <dataset type="links">
          <name> yagoclasses_links.nt </name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#DBpedia</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#YAGOClasses</objectDataset>
          <linkPredicate>http://www.w3.org/2000/01/rdf-schema#label</linkPredicate>
      </dataset>
        
      <dataset type="links">
          <name> yago_links.nt</name>
          <sparqlEndpoint>http://dbpedia.org/sparql</sparqlEndpoint>
          <subjectDataset>http://dbpedia.org/void.ttl#YAGOLinks</subjectDataset>
          <objectDataset>http://dbpedia.org/void.ttl#DBpedia</objectDataset>
          <linkPredicate>http://www.w3.org/2002/07/owl#sameAs</linkPredicate>
      </dataset>
    </loadedDatasets>

    <linkedToDBpediaDatasets>
        

        <dataset>
            <name>RDFBookMashup</name>
            <title>RDF Book Mashup</title>
            <homepage>http://sites.wiwiss.fu-berlin.de/suhl/bizer/bookmashup/</homepage>
        </dataset>

        <dataset>
            <name>DailyMid</name>
            <title>Test title</title>
            <homepage>http://dailymed.nlm.nih.gov/</homepage>
        </dataset>

        <dataset>
            <name>DBLP</name>
            <title>Test title</title>
            <homepage>http://www.informatik.uni-trier.de/~ley/db/</homepage>
        </dataset>

        <dataset>
            <name>Diseasome</name>
            <title>Test title</title>
            <homepage>http://diseasome.eu/</homepage>
        </dataset>

        <dataset>
            <name>Drugbank</name>
            <title>Test title</title>
            <homepage>http://www.drugbank.ca/</homepage>
        </dataset>

        <dataset>
            <name>Eurostat</name>
            <title>Test title</title>
            <homepage>http://ec.europa.eu/eurostat/</homepage>
        </dataset>

        <dataset>
            <name>CIAFactbook</name>
            <title>Test title</title>
            <homepage>https://www.cia.gov/library/publications/the-world-factbook/</homepage>
        </dataset>

        <dataset>
            <name>FlikrWrappr</name>
            <title>Test title</title>
            <homepage>http://www4.wiwiss.fu-berlin.de/flickrwrappr/</homepage>
        </dataset>

        <dataset>
            <name>Freebase</name>
            <title>Test title</title>
            <homepage>http://www.freebase.com/</homepage>
        </dataset>

        <dataset>
            <name>Geonames</name>
            <title>Test title</title>
            <homepage>http://www.geonames.org/</homepage>
        </dataset>

        <dataset>
            <name>Gutenberg</name>
            <title>Test title</title>
            <homepage>http://www.gutenberg.org/</homepage>
        </dataset>

        <dataset>
            <name>MusicBrainz</name>
            <title>Test title</title>
            <homepage>http://musicbrainz.org/</homepage>
        </dataset>

        <dataset>
            <name>NewYorkTimes</name>
            <title>link to New York not found</title>
            <homepage>http://dbpedia.org/</homepage>
        </dataset>
          
        <dataset>
            <name>Cyc</name>
            <title>Test title</title>
            <homepage>http://opencyc.org/</homepage>
        </dataset>

        <dataset>
            <name>Revyu</name>
            <title>Test title</title>
            <homepage>http://revyu.com/</homepage>
        </dataset>

        <dataset>
            <name>Sider</name>
            <title>Test title</title>
            <homepage>http://sideeffects.embl.de/</homepage>
        </dataset>

        <dataset>
            <name>TCMGeneDIT</name>
            <title>Test title</title>
            <homepage>http://tcm.lifescience.ntu.edu.tw/</homepage>
        </dataset>

        <dataset>
            <name>USCensus</name>
            <title>US Census Data</title>
            <homepage>http://www.rdfabout.com/demo/census/</homepage>
        </dataset>

        <dataset>
            <name>WikiCompany</name>
            <title>Test title</title>
            <homepage>http://wikicompany.org/</homepage>
        </dataset>

        <dataset>
            <name>WordNet</name>
            <title>Test title</title>
            <homepage>http://wordnet.princeton.edu/</homepage>
        </dataset>
     
        <dataset>
            <name>YAGOClasses</name>
            <title>Test title</title>
            <homepage>http://www.mpi-inf.mpg.de/~suchanek/downloads/yago/</homepage>
        </dataset>

        <dataset>
            <name>YAGOLinks</name>
            <title>Test title</title>
            <homepage>http://www.mpi-inf.mpg.de/~suchanek/downloads/yago/</homepage>
        </dataset>

    </linkedToDBpediaDatasets>

    
</configuration>