<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="extractionjob" class="org.dbpedia.extraction.wiktionary.ExtractionJob">
        <constructor-arg index="0">
            <ref bean="testExtractor"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="testSource"/>
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="stringDestination"/>
        </constructor-arg>
        <constructor-arg index="3" value="spring_task"/>
    </bean>

    <bean id="testSource" class="org.dbpedia.extraction.XMLFileSource">
        <constructor-arg index="0">
            <value>file:one.xml</value>
        </constructor-arg>
        <constructor-arg index="1">
            <list value-type="java.lang.Integer">
                <value>0</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="testExtractor" class="org.dbpedia.extraction.mappings.WiktionaryPageExtractor"/>

    <bean id="stringDestination" class="org.dbpedia.extraction.destinations.StringDestination" />

</beans>