###############################################################################
# This is the configuration file for the extraction of class and property
# definitions from the meta-wiki.
###############################################################################
[LOGGING]
#log4jConfigFile = config/meta/log4j.properties


# Connection settings
# by default, the oai repository will be searched under
# ${baseWikiUri}Special:OAIRepository - so don't forget trailing slash
# pollInterval in seconds
[HARVESTER]
#baseWikiUri = http://localhost/wiki/index.php/
#technicalWikiUri = http://localhost/wiki/
#baseWikiUri = http://meta.wikimedia.org/wiki/
#technicalWikiUri = http://meta.wikimedia.org/w/
baseWikiUri = http://mappings.dbpedia.org/index.php/
technicalWikiUri = http://mappings.dbpedia.org/

username = dbpedia
passwordFile = pw.txt
pollInterval = 60
sleepInterval = 1
lastResponseDateFile = live/cfg/mappings.dbpedia.org/last-response-date.txt
#startNow = false
startNow = false


[BACKEND_VIRTUOSO]
graphNameData = http://dbpedia.org/ontology
graphNameMeta = http://dbpedia.org/ontology/meta
serverName    = localhost
port          = 1111
username      = dba
password      = dba


###
# Not implemented yet:
# Mappings from namespace prefixes to namespace names
# as described in http://www.w3.org/TR/REC-xml-names/
# e.g. xsd to http://www.w3.org/2001/XMLSchema#
# Mappings can we watched, so modifications can be applied on-the-fly
# Note: the the given file is watched, not this file!
#
#[NAMESPACE_MAPPING]
#filename = config/meta/NamespaceMapping.nt


# The remaining config is rather uninteresting - some prefixes for uri
# generation

[PROPERTY_DEFINITION_EXTRACTOR]
# Prefix for expression nodes generated by parsing manchester owl syntax
# class expressions (e.g. a node representing Human or Animal)
# Expression nodes themselves are only hashvalues (e.g. -15346334)
expressionPrefix = http://dbpedia.org/ontology/expr
reifierPrefix = http://dbpedia.org/meta/axiom

#Prefix for properties derived from the wiki page name
#e.g. wiki/DBpedia/ontology/birthPlace -> birthPlace
propertyPrefix = http://dbpedia.org/ontology/
