<?xml version="1.0" encoding="UTF-8"?>
<config>
    <properties>
        <property name="logLevel" value="0"/>
        <property name="language" value="en"/>
        <property name="ns" value="http://wiktionary.dbpedia.org/"/>
    </properties>
    <mappings>
<!-- ISO 639-1 -->
<mapping from="aa" to="Afar" />
<mapping from="ab" to="Abkhazian" />
<mapping from="ae" to="Avestan" />
<mapping from="af" to="Afrikaans" />
<mapping from="ak" to="Akan" />
<mapping from="am" to="Amharic" />
<mapping from="an" to="Aragonese" />
<mapping from="ar" to="Arabic" />
<mapping from="as" to="Assamese" />
<mapping from="av" to="Avaric" />
<mapping from="ay" to="Aymara" />
<mapping from="az" to="Azerbaijani" />
<mapping from="ba" to="Bashkir" />
<mapping from="be" to="Belarusian" />
<mapping from="bg" to="Bulgarian" />
<mapping from="bh" to="Bihari(macrolanguage)" />
<mapping from="bi" to="Bislama" />
<mapping from="bm" to="Bambara" />
<mapping from="bn" to="Bengali" />
<mapping from="bo" to="Tibetan" />
<mapping from="br" to="Breton" />
<mapping from="bs" to="Bosnian" />
<mapping from="ca" to="Catalan" />
<mapping from="ce" to="Chechen" />
<mapping from="ch" to="Chamorro" />
<mapping from="co" to="Corsican" />
<mapping from="cr" to="Cree" />
<mapping from="cs" to="Czech" />
<mapping from="cu" to="ChurchSlavic" />
<mapping from="cv" to="Chuvash" />
<mapping from="cy" to="Welsh" />
<mapping from="da" to="Danish" />
<mapping from="de" to="German" />
<mapping from="dv" to="Dhivehi" />
<mapping from="dz" to="Dzongkha" />
<mapping from="ee" to="Ewe" />
<mapping from="el" to="ModernGreek(1453-)" />
<mapping from="en" to="English" />
<mapping from="eo" to="Esperanto" />
<mapping from="es" to="Spanish" />
<mapping from="et" to="Estonian" />
<mapping from="eu" to="Basque" />
<mapping from="fa" to="Persian" />
<mapping from="ff" to="Fulah" />
<mapping from="fi" to="Finnish" />
<mapping from="fj" to="Fijian" />
<mapping from="fo" to="Faroese" />
<mapping from="fr" to="French" />
<mapping from="fy" to="WesternFrisian" />
<mapping from="ga" to="Irish" />
<mapping from="gd" to="ScottishGaelic" />
<mapping from="gl" to="Galician" />
<mapping from="gn" to="Guarani" />
<mapping from="gu" to="Gujarati" />
<mapping from="gv" to="Manx" />
<mapping from="ha" to="Hausa" />
<mapping from="he" to="Hebrew" />
<mapping from="hi" to="Hindi" />
<mapping from="ho" to="Hiri Motu" />
<mapping from="hr" to="Croatian" />
<mapping from="ht" to="Haitian" />
<mapping from="hu" to="Hungarian" />
<mapping from="hy" to="Armenian" />
<mapping from="hz" to="Herero" />
<mapping from="ia" to="Interlingua" />
<mapping from="id" to="Indonesian" />
<mapping from="ie" to="Interlingue" />
<mapping from="ig" to="Igbo" />
<mapping from="ii" to="Sichuan Yi" />
<mapping from="ik" to="Inupiaq" />
<mapping from="io" to="Ido" />
<mapping from="is" to="Icelandic" />
<mapping from="it" to="Italian" />
<mapping from="iu" to="Inuktitut" />
<mapping from="ja" to="Japanese" />
<mapping from="jv" to="Javanese" />
<mapping from="ka" to="Georgian" />
<mapping from="kg" to="Kongo" />
<mapping from="ki" to="Kikuyu" />
<mapping from="kj" to="Kuanyama" />
<mapping from="kk" to="Kazakh" />
<mapping from="kl" to="Kalaallisut" />
<mapping from="km" to="Central Khmer" />
<mapping from="kn" to="Kannada" />
<mapping from="ko" to="Korean" />
<mapping from="kr" to="Kanuri" />
<mapping from="ks" to="Kashmiri" />
<mapping from="ku" to="Kurdish" />
<mapping from="kv" to="Komi" />
<mapping from="kw" to="Cornish" />
<mapping from="ky" to="Kirghiz" />
<mapping from="la" to="Latin" />
<mapping from="lb" to="Luxembourgish" />
<mapping from="lg" to="Ganda" />
<mapping from="li" to="Limburgan" />
<mapping from="ln" to="Lingala" />
<mapping from="lo" to="Lao" />
<mapping from="lt" to="Lithuanian" />
<mapping from="lu" to="Luba-Katanga" />
<mapping from="lv" to="Latvian" />
<mapping from="mg" to="Malagasy" />
<mapping from="mh" to="Marshallese" />
<mapping from="mi" to="Maori" />
<mapping from="mk" to="Macedonian" />
<mapping from="ml" to="Malayalam" />
<mapping from="mn" to="Mongolian" />
<mapping from="mr" to="Marathi" />
<mapping from="ms" to="Malay(macrolanguage)" />
<mapping from="mt" to="Maltese" />
<mapping from="my" to="Burmese" />
<mapping from="na" to="Nauru" />
<mapping from="nb" to="Norwegian Bokmål" />
<mapping from="nd" to="North Ndebele" />
<mapping from="ne" to="Nepali(macrolanguage)" />
<mapping from="ng" to="Ndonga" />
<mapping from="nl" to="Dutch" />
<mapping from="nn" to="Norwegian Nynorsk" />
<mapping from="no" to="Norwegian" />
<mapping from="nr" to="South Ndebele" />
<mapping from="nv" to="Navajo" />
<mapping from="ny" to="Nyanja" />
<mapping from="oc" to="Occitan(post1500)" />
<mapping from="oj" to="Ojibwa" />
<mapping from="om" to="Oromo" />
<mapping from="or" to="Oriya(macrolanguage)" />
<mapping from="os" to="Ossetian" />
<mapping from="pa" to="Panjabi" />
<mapping from="pi" to="Pali" />
<mapping from="pl" to="Polish" />
<mapping from="ps" to="Pushto" />
<mapping from="pt" to="Portuguese" />
<mapping from="qu" to="Quechua" />
<mapping from="rm" to="Romansh" />
<mapping from="rn" to="Rundi" />
<mapping from="ro" to="Romanian" />
<mapping from="ru" to="Russian" />
<mapping from="rw" to="Kinyarwanda" />
<mapping from="sa" to="Sanskrit" />
<mapping from="sc" to="Sardinian" />
<mapping from="sd" to="Sindhi" />
<mapping from="se" to="Northern Sami" />
<mapping from="sg" to="Sango" />
<mapping from="sh" to="Serbo-Croatian" />
<mapping from="si" to="Sinhala" />
<mapping from="sk" to="Slovak" />
<mapping from="sl" to="Slovenian" />
<mapping from="sm" to="Samoan" />
<mapping from="sn" to="Shona" />
<mapping from="so" to="Somali" />
<mapping from="sq" to="Albanian" />
<mapping from="sr" to="Serbian" />
<mapping from="ss" to="Swati" />
<mapping from="st" to="SouthernSotho" />
<mapping from="su" to="Sundanese" />
<mapping from="sv" to="Swedish" />
<mapping from="sw" to="Swahili(macrolanguage)" />
<mapping from="ta" to="Tamil" />
<mapping from="te" to="Telugu" />
<mapping from="tg" to="Tajik" />
<mapping from="th" to="Thai" />
<mapping from="ti" to="Tigrinya" />
<mapping from="tk" to="Turkmen" />
<mapping from="tl" to="Tagalog" />
<mapping from="tn" to="Tswana" />
<mapping from="to" to="Tonga" />
<mapping from="tr" to="Turkish" />
<mapping from="ts" to="Tsonga" />
<mapping from="tt" to="Tatar" />
<mapping from="tw" to="Twi" />
<mapping from="ty" to="Tahitian" />
<mapping from="ug" to="Uighur" />
<mapping from="uk" to="Ukrainian" />
<mapping from="ur" to="Urdu" />
<mapping from="uz" to="Uzbek" />
<mapping from="ve" to="Venda" />
<mapping from="vi" to="Vietnamese" />
<mapping from="vo" to="Volapük" />
<mapping from="wa" to="Walloon" />
<mapping from="wo" to="Wolof" />
<mapping from="xh" to="Xhosa" />
<mapping from="yi" to="Yiddish" />
<mapping from="yo" to="Yoruba" />
<mapping from="za" to="Zhuang" />
<mapping from="zh" to="Chinese" />
<mapping from="zu" to="Zulu" />

<!-- the ISO 639-2 codes of ISO 639-1 languages :) -->
<mapping from="aar" to="Afar" />
<mapping from="abk" to="Abkhazian" />
<mapping from="ave" to="Avestan" />
<mapping from="afr" to="Afrikaans" />
<mapping from="aka" to="Akan" />
<mapping from="amh" to="Amharic" />
<mapping from="arg" to="Aragonese" />
<mapping from="ara" to="Arabic" />
<mapping from="asm" to="Assamese" />
<mapping from="ast" to="Asturian" />
<mapping from="ava" to="Avaric" />
<mapping from="aym" to="Aymara" />
<mapping from="aze" to="Azerbaijani" />
<mapping from="bak" to="Bashkir" />
<mapping from="bel" to="Belarusian" />
<mapping from="bul" to="Bulgarian" />
<mapping from="bih" to="Bihari(macrolanguage)" />
<mapping from="bis" to="Bislama" />
<mapping from="bam" to="Bambara" />
<mapping from="ben" to="Bengali" />
<mapping from="bod" to="Tibetan" />
<mapping from="tib" to="Tibetan" />
<mapping from="bre" to="Breton" />
<mapping from="bos" to="Bosnian" />
<mapping from="cat" to="Catalan" />
<mapping from="che" to="Chechen" />
<mapping from="cha" to="Chamorro" />
<mapping from="cos" to="Corsican" />
<mapping from="cre" to="Cree" />
<mapping from="ces" to="Czech" />
<mapping from="cze" to="Czech" />
<mapping from="chu" to="ChurchSlavic" />
<mapping from="chv" to="Chuvash" />
<mapping from="cym" to="Welsh" />
<mapping from="wel" to="Welsh" />
<mapping from="dan" to="Danish" />
<mapping from="ger" to="German" />
<mapping from="deu" to="German" />
<mapping from="div" to="Dhivehi" />
<mapping from="dzo" to="Dzongkha" />
<mapping from="ewe" to="Ewe" />
<mapping from="ell" to="ModernGreek(1453-)" />
<mapping from="gre" to="ModernGreek(1453-)" />
<mapping from="eng" to="English" />
<mapping from="epo" to="Esperanto" />
<mapping from="spa" to="Spanish" />
<mapping from="est" to="Estonian" />
<mapping from="eus" to="Basque" />
<mapping from="baq" to="Basque" />
<mapping from="fas" to="Persian" />
<mapping from="per" to="Persian" />
<mapping from="ful" to="Fulah" />
<mapping from="fin" to="Finnish" />
<mapping from="fij" to="Fijian" />
<mapping from="fao" to="Faroese" />
<mapping from="fra" to="French" />
<mapping from="fre" to="French" />
<mapping from="fry" to="WesternFrisian" />
<mapping from="gle" to="Irish" />
<mapping from="gla" to="ScottishGaelic" />
<mapping from="glg" to="Galician" />
<mapping from="grn" to="Guarani" />
<mapping from="guj" to="Gujarati" />
<mapping from="glv" to="Manx" />
<mapping from="hau" to="Hausa" />
<mapping from="heb" to="Hebrew" />
<mapping from="hin" to="Hindi" />
<mapping from="hmo" to="Hiri Motu" />
<mapping from="hrv" to="Croatian" />
<mapping from="hat" to="Haitian" />
<mapping from="hun" to="Hungarian" />
<mapping from="hye" to="Armenian" />
<mapping from="arm" to="Armenian" />
<mapping from="her" to="Herero" />
<mapping from="ina" to="Interlingua" />
<mapping from="ind" to="Indonesian" />
<mapping from="ile" to="Interlingue" />
<mapping from="ibo" to="Igbo" />
<mapping from="iii" to="Sichuan Yi" />
<mapping from="ipk" to="Inupiaq" />
<mapping from="ido" to="Ido" />
<mapping from="isl" to="Icelandic" />
<mapping from="ice" to="Icelandic" />
<mapping from="ita" to="Italian" />
<mapping from="iku" to="Inuktitut" />
<mapping from="jpn" to="Japanese" />
<mapping from="jav" to="Javanese" />
<mapping from="kat" to="Georgian" />
<mapping from="geo" to="Georgian" />
<mapping from="kon" to="Kongo" />
<mapping from="kik" to="Kikuyu" />
<mapping from="kua" to="Kuanyama" />
<mapping from="kaz" to="Kazakh" />
<mapping from="kal" to="Kalaallisut" />
<mapping from="khm" to="CentralKhmer" />
<mapping from="kan" to="Kannada" />
<mapping from="kor" to="Korean" />
<mapping from="kau" to="Kanuri" />
<mapping from="kas" to="Kashmiri" />
<mapping from="kur" to="Kurdish" />
<mapping from="kom" to="Komi" />
<mapping from="cor" to="Cornish" />
<mapping from="kir" to="Kirghiz" />
<mapping from="lat" to="Latin" />
<mapping from="ltz" to="Luxembourgish" />
<mapping from="lug" to="Ganda" />
<mapping from="lim" to="Limburgan" />
<mapping from="lin" to="Lingala" />
<mapping from="lao" to="Lao" />
<mapping from="lit" to="Lithuanian" />
<mapping from="lub" to="Luba-Katanga" />
<mapping from="lav" to="Latvian" />
<mapping from="mlg" to="Malagasy" />
<mapping from="mah" to="Marshallese" />
<mapping from="mri" to="Maori" />
<mapping from="mao" to="Maori" />
<mapping from="mkd" to="Macedonian" />
<mapping from="mac" to="Macedonian" />
<mapping from="mal" to="Malayalam" />
<mapping from="mon" to="Mongolian" />
<mapping from="mar" to="Marathi" />
<mapping from="msa" to="Malay(macrolanguage)" />
<mapping from="may" to="Malay(macrolanguage)" />
<mapping from="mlt" to="Maltese" />
<mapping from="mya" to="Burmese" />
<mapping from="bur" to="Burmese" />
<mapping from="nau" to="Nauru" />
<mapping from="nob" to="NorwegianBokmål" />
<mapping from="nde" to="North Ndebele" />
<mapping from="nep" to="Nepali(macrolanguage)" />
<mapping from="ndo" to="Ndonga" />
<mapping from="nld" to="Dutch" />
<mapping from="dut" to="Dutch" />
<mapping from="nno" to="NorwegianNynorsk" />
<mapping from="nor" to="Norwegian" />
<mapping from="nbl" to="South Ndebele" />
<mapping from="nav" to="Navajo" />
<mapping from="nya" to="Nyanja" />
<mapping from="oci" to="Occitan(post1500)" />
<mapping from="oji" to="Ojibwa" />
<mapping from="orm" to="Oromo" />
<mapping from="ori" to="Oriya(macrolanguage)" />
<mapping from="oss" to="Ossetian" />
<mapping from="pan" to="Panjabi" />
<mapping from="pli" to="Pali" />
<mapping from="pol" to="Polish" />
<mapping from="pus" to="Pushto" />
<mapping from="por" to="Portuguese" />
<mapping from="que" to="Quechua" />
<mapping from="roh" to="Romansh" />
<mapping from="run" to="Rundi" />
<mapping from="ron" to="Romanian" />
<mapping from="rum" to="Romanian" />
<mapping from="rus" to="Russian" />
<mapping from="kin" to="Kinyarwanda" />
<mapping from="san" to="Sanskrit" />
<mapping from="srd" to="Sardinian" />
<mapping from="snd" to="Sindhi" />
<mapping from="sme" to="Northern Sami" />
<mapping from="sag" to="Sango" />
<mapping from="sin" to="Sinhala" />
<mapping from="slk" to="Slovak" />
<mapping from="slo" to="Slovak" />
<mapping from="slv" to="Slovenian" />
<mapping from="smo" to="Samoan" />
<mapping from="sna" to="Shona" />
<mapping from="som" to="Somali" />
<mapping from="sqi" to="Albanian" />
<mapping from="alb" to="Albanian" />
<mapping from="srp" to="Serbian" />
<mapping from="ssw" to="Swati" />
<mapping from="sot" to="SouthernSotho" />
<mapping from="sun" to="Sundanese" />
<mapping from="swe" to="Swedish" />
<mapping from="swa" to="Swahili(macrolanguage)" />
<mapping from="tam" to="Tamil" />
<mapping from="tel" to="Telugu" />
<mapping from="tgk" to="Tajik" />
<mapping from="tha" to="Thai" />
<mapping from="tir" to="Tigrinya" />
<mapping from="tuk" to="Turkmen" />
<mapping from="tgl" to="Tagalog" />
<mapping from="tsn" to="Tswana" />
<mapping from="ton" to="Tonga" />
<mapping from="tur" to="Turkish" />
<mapping from="tso" to="Tsonga" />
<mapping from="tat" to="Tatar" />
<mapping from="twi" to="Twi" />
<mapping from="tah" to="Tahitian" />
<mapping from="uig" to="Uighur" />
<mapping from="ukr" to="Ukrainian" />
<mapping from="urd" to="Urdu" />
<mapping from="uzb" to="Uzbek" />
<mapping from="ven" to="Venda" />
<mapping from="vie" to="Vietnamese" />
<mapping from="vol" to="Volapük" />
<mapping from="wln" to="Walloon" />
<mapping from="wol" to="Wolof" />
<mapping from="xho" to="Xhosa" />
<mapping from="yid" to="Yiddish" />
<mapping from="yor" to="Yoruba" />
<mapping from="zha" to="Zhuang" />
<mapping from="zho" to="Chinese" />
<mapping from="chi" to="Chinese" />
<mapping from="zul" to="Zulu" />

    </mappings>
</config>
