<?xml version="1.0" encoding="UTF-8"?>
<config>
    <properties>
        <property name="logLevel" value="0"/>
        <property name="language" value="de"/>
        <property name="ns" value="http://wiktionary.dbpedia.org/resource/"/>
        <property name="labelProperty" value="http://www.w3.org/2000/01/rdf-schema#label"/>
        <property name="senseProperty" value="http://wiktionary.dbpedia.org/terms/hasSense"/>
        <property name="senseVarName" value="meaningId"/>
    </properties>
</config>
