<?xml version="1.0" encoding="UTF-8"?>
<config>
    <properties>
        <property name="logLevel" value="0"/>
        <property name="language" value="de"/>
        <property name="ns" value="http://wiktionary.dbpedia.org/resource/"/>
        <property name="labelProperty" value="http://www.w3.org/2000/01/rdf-schema#label"/>
        <property name="senseProperty" value="http://wiktionary.dbpedia.org/terms/hasSense"/>
        <property name="senseVarName" value="meaningId"/>
    </properties>
    <mappings>
        <mapping from="en" to="English" />
        <mapping from="de" to="German" />
        <mapping from="pl" to="Polish" />
        <mapping from="zh" to="Chinese" />
        <mapping from="fr" to="French" />
        <mapping from="la" to="Latin" />
        <mapping from="nl" to="Dutch" />
        <mapping from="pt" to="Portuguese" />
        <mapping from="es" to="Spanish" />
        <mapping from="ru" to="Russian" />
        <mapping from="it" to="Italian" />
        <mapping from="sv" to="Swedish" />
        <mapping from="ar" to="Arabic" />
        <mapping from="sq" to="Albanian" />
        <mapping from="bn" to="Bengali" />
        <mapping from="br" to="Breton" />
        <mapping from="da" to="Danish" />
        <mapping from="fi" to="Finnish" />
        <mapping from="ka" to="Georgian" />
        <mapping from="el" to="ModernGreek" />
        <mapping from="hi" to="Hindi" />
        <mapping from="id" to="Malay" />
        <mapping from="is" to="Icelandic" />
        <mapping from="ja" to="Japanese" />
        <mapping from="ca" to="Catalan" />
        <mapping from="sw" to="Suaheli" />
        <mapping from="la" to="Latin" />
        <mapping from="na" to="Nahuatl" />
        <mapping from="no" to="Nynorsk" />
        <mapping from="oc" to="Occitan" />
        <mapping from="fa" to="Persian" />
        <mapping from="rm" to="Romansch" />
        <mapping from="sl" to="Slovene" />
        <mapping from="dsb" to="LowerSorbian" />
        <mapping from="hsb" to="UpperSorbian" />
        <mapping from="cs" to="Czech" />
        <mapping from="uk" to="Ukrainian" />
        <mapping from="tr" to="Turkish" />
        <mapping from="hu" to="Hungarian" />
    </mappings>
</config>
